#container {
	padding-bottom : 30px
}

.logo {
	width       : 100%;
	margin-top  : 50px;
	margin-left : 30px;
	display     : block;
	/*max-width   : 353px*/
}

.scrisors {
	width : 100%
}

@media (max-width : 1200px) {
	#featured {
		background-image : none;
		background-color : #f6f5f5;
		padding-left     : 0;
		width            : 100%;
		height           : auto
	}

	#featured h1 {
		display : none
	}

	#featured img {
		display       : block;
		margin        : 0 auto;
		max-width     : 100%;
		height        : auto;
		float         : none;
		padding-right : 0
	}

	#sidebar img {
		max-width : 100%
	}

	#featured {
		width : 100%
	}

	#main {
		width : 55%
	}

	#sidebar {
		width : 30%
	}

	.copyright {
		width : 100%
	}

	.testdiaryp {
		width         : 97%;
		float         : none;
		margin-top    : -10px;
		margin-left   : 10px;
		padding-top   : 10px;
		padding-right : 10px
	}
}

@media (max-width : 992px) {
	/*.logo {*/
	/*display : table;*/
	/*margin  : 20px auto 0;*/
	/*float   : none*/
	/*}*/
	/*#socialMedia {*/
	/*display : table;*/
	/*margin  : 20px auto 20px;*/
	/*float   : none;*/
	/*width   : 100%*/
	/*}*/
	#mainHeader {
		height : auto
	}

	.logo {
		width         : 50%;
		display       : block;
		margin-left   : auto;
		margin-right  : auto;
		float         : none;
		margin-top    : 10px;
		margin-bottom : 0px;
	}

	#socialMedia{
		display : none;
	}

	#nav{
		display : none;
	}

	#mainHeader .col-left{
		float : none !important;
		width : 100% !important;
	}

	#mainHeader .col-right{
		display : none;
	}

	#icons {
		display        : table;
		margin         : 0 auto;
		float          : none;
		padding-bottom : 0
	}

	#nav ul li:first-child {
		display : none
	}

	.celebcaption {
		width : 100%
	}

	#banner-search {
		display : table;
		margin  : 20px auto 0
	}
}

@media (max-width : 768px) {
	#nav ul li a {
		font-size : 11px
	}
}

@media (max-width : 750px) {
	#banner-search #navigationSearchInput {
		width : 140px;
	}
	#related h3{
		font-size: 20px;
	}

	/*.logo {*/
		/*max-width : 200px;*/
	/*}*/
}

@media (max-width : 650px) {
	.step {
		height : auto
	}

	.step2 {
		height : auto
	}

	#RVTL, #product2 {
		max-width : 190px;
		margin    : 0 auto;
		height    : auto;
		float     : none;
		display   : block;
		padding   : 0 !important
	}

	.scrisors {
		display : none
	}

	.testdiaryp {
		width : 95% !important
	}
}

@media (max-width : 620px) {
#socialMedia{
	display : none;
}
	#nav{
		display : none;
	}

	#sidebar{
		display : none;
	}
	#main {
		width        : 89% !important;
		margin       : 0 auto;
		padding-left : 10px;
		float        : none
	}
	#featured {
		display : none
	}

	#featured2 {
		display : block !important;
		width   : 100% !important;
		height  : auto !important;
	}
	#featured2 img {
		width  : 100% !important;
		height : auto;
		/*margin-bottom : 30px;*/
	}
}


@media (max-width : 500px) {
	#breadcrumbs {
		font-size : 12px
	}

	h1 {
		font-size : 130% !important
	}
	#featured2 h1 {
		/*display : none;*/
	}

	.testdiaryp {
		padding-right : 0 !important;
		margin-right  : 0 !important
	}

	.wp-image-20 {
		width  : 95%;
		height : auto
	}

	#banner-search #navigationSearchInput {
		width : 200px
	}
}

#mainHeader{
	width : 100%;
}
#mainHeader .col-left{
	float : left;
	width: 50%;
}

#mainHeader .col-right{
	float : left;
	width : 50%;
}

/**, *:before, *:after{*/
	/*box-sizing: border-box;*/
/*}*/

#socialMedia {
	width : auto;
}

.mobile-img {
	max-width : 100%
}

#mainHeader {
	margin-bottom : 15px;
}

@media (min-width : 0) {
	#container {
		width : 100%
	}
}

@media (min-width : 768px) {
	#container {
		/*width : 750px*/
	}
}

@media (min-width : 992px) {
	#container {
		width : 970px
	}
}

@media (min-width : 1200px) {
	#container {
		width : 1000px
	}
}

.cf:before, .cf:after {
	content : " ";
	display : table
}

.cf:after {
	clear : both
}

.fbFeedbackContent .composerHider {
	padding-top : 40px
}

.step2 {
	padding-bottom : 20px
}

#featured2 {
	display  : none;
	position : relative;
}

.day {
	position         : relative;
	background-image : none;
	width            : 100%;
	padding-top      : 0;
	padding-left     : 14px;
	padding-right    : 0;
	margin-left      : -14px
}

.day-text {
	background-image : none;
	width            : 100%;
	padding-top      : 10px;
	margin-left      : 0
}

.day:before {
	width         : 0;
	height        : 0;
	border-top    : 15px solid transparent;
	border-right  : 15px solid #ccc;
	border-bottom : 15px solid transparent;
	content       : "";
	position      : absolute;
	top           : 30px;
	left          : -1px
}

.corner-tl, .corner-tr, .corner-bl, .corner-br {
	background : url(corners.png) no-repeat;
	width      : 10px;
	height     : 10px;
	position   : absolute
}

.corner-tl {
	top                 : 0;
	left                : 14px;
	background-position : 0 0
}

.corner-tr {
	top                 : 0;
	right               : 0;
	background-position : -10px -10px
}

.corner-bl {
	bottom              : 0;
	left                : 14px;
	background-position : -30px -30px
}

.corner-br {
	bottom              : 0;
	right               : 0;
	background-position : -20px -20px
}

.posttext {
	font-family : Tahoma, Verdana, Arial, Helvetica, sans-serif
}