@charset "utf-8";
body {
	background-color : #f6f5f5
}

@font-face {
	font-family : Arimo;
	font-style  : normal;
	font-weight : 400;
	src         : local('Arimo'), url(http://themes.googleusercontent.com/static/fonts/arimo/v5/wZLYhRRxZWGToTRP78bqJQ.woff) format('woff')
}

@font-face {
	font-family : Questrial;
	font-style  : normal;
	font-weight : 400;
	src         : local('Questrial'), local('Questrial-Regular'), url(http://themes.googleusercontent.com/static/fonts/questrial/v3/MYWJ4lYm5dbZ1UBuYox79D8E0i7KZn-EPnyo3HZu7kw.woff) format('woff')
}

@font-face {
	font-family : 'Dancing Script';
	font-style  : normal;
	font-weight : 400;
	src         : local('Dancing Script'), local('DancingScript'), url(http://themes.googleusercontent.com/static/fonts/dancingscript/v3/DK0eTGXiZjN6yA8zAEyM2VhlQWQpSCpzb2Peu3I-Q34.woff) format('woff')
}

@font-face {
	font-family : 'Dancing Script';
	font-style  : normal;
	font-weight : 700;
	src         : local('Dancing Script Bold'), local('DancingScript-Bold'), url(http://themes.googleusercontent.com/static/fonts/dancingscript/v3/KGBfwabt0ZRLA5W1ywjowfVc48Rxw3pIW-IHeDZiIVI.woff) format('woff')
}

@font-face {
	font-family : 'Roboto Slab';
	font-style  : normal;
	font-weight : 100;
	src         : local('Roboto Slab Thin'), local('RobotoSlab-Thin'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v2/MEz38VLIFL-t46JUtkIEgCeJLMOzE6CCkidNEpZOseY.woff) format('woff')
}

@font-face {
	font-family : 'Roboto Slab';
	font-style  : normal;
	font-weight : 300;
	src         : local('Roboto Slab Light'), local('RobotoSlab-Light'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v2/dazS1PrQQuCxC3iOAJFEJR_xHqYgAV9Bl_ZQbYUxnQU.woff) format('woff')
}

@font-face {
	font-family : 'Roboto Slab';
	font-style  : normal;
	font-weight : 400;
	src         : local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v2/y7lebkjgREBJK96VQi37ZobN6UDyHWBl620a-IRfuBk.woff) format('woff')
}

@font-face {
	font-family : 'Roboto Slab';
	font-style  : normal;
	font-weight : 700;
	src         : local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v2/dazS1PrQQuCxC3iOAJFEJTqR_3kx9_hJXbbyU8S6IN0.woff) format('woff')
}

@font-face {
	font-family : 'Source Sans Pro';
	font-style  : normal;
	font-weight : 200;
	src         : local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGMa9awK0IKUjIWABZIchFI8.woff) format('woff')
}

@font-face {
	font-family : 'Source Sans Pro';
	font-style  : normal;
	font-weight : 300;
	src         : local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format('woff')
}

@font-face {
	font-family : 'Source Sans Pro';
	font-style  : normal;
	font-weight : 400;
	src         : local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff')
}

@font-face {
	font-family : 'Source Sans Pro';
	font-style  : normal;
	font-weight : 600;
	src         : local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format('woff')
}

@font-face {
	font-family : 'Source Sans Pro';
	font-style  : normal;
	font-weight : 700;
	src         : local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff) format('woff')
}

@font-face {
	font-family : 'Source Sans Pro';
	font-style  : italic;
	font-weight : 200;
	src         : local('Source Sans Pro ExtraLight Italic'), local('SourceSansPro-ExtraLightIt'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/fpTVHK8qsXbIeTHTrnQH6PwwJPUC4r0o28cUCbhjOjM.woff) format('woff')
}

@font-face {
	font-family : 'Source Sans Pro';
	font-style  : italic;
	font-weight : 300;
	src         : local('Source Sans Pro Light Italic'), local('SourceSansPro-LightIt'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/fpTVHK8qsXbIeTHTrnQH6GGomRtBD2u8FwSY4jjlmeA.woff) format('woff')
}

@font-face {
	font-family : 'Source Sans Pro';
	font-style  : italic;
	font-weight : 400;
	src         : local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/M2Jd71oPJhLKp0zdtTvoMzNrcjQuD0pTu1za2FULaMs.woff) format('woff')
}

@font-face {
	font-family : 'Source Sans Pro';
	font-style  : italic;
	font-weight : 600;
	src         : local('Source Sans Pro Semibold Italic'), local('SourceSansPro-SemiboldIt'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/fpTVHK8qsXbIeTHTrnQH6PULlOK_XQENnt2ryrY843E.woff) format('woff')
}

* {
	margin  : 0;
	padding : 0
}

a {
	text-decoration : none;
	color           : #ad208e
}

.fl {
	float : left
}

.fr {
	float : right
}

.clear {
	clear : both
}

p {
	font-size   : 17.5px;
	line-height : 23px;
	font-family : 'Source Sans Pro', sans-serif
}

h1 {
	font-size : 185%
}

#container {
	width            : 1000px;
	margin-right     : auto;
	margin-left      : auto;
	background-color : #fff
}

#logo {
	width             : 450px;
	background-image  : url(logo.png);
	height            : 100px;
	background-repeat : no-repeat;
	margin-top        : 50px;
	margin-left       : 30px;
	text-indent       : -99999px;
	display           : block
}

#mainHeader {
	background-color : #fff;
	height           : 180px;
	width            : 100%
}

#fullBanner {
	background-color : #852ca7;
	height           : 40px;
	width            : 100%
}

#nav {
	font-family         : Arimo, sans-serif;
	width               : 100%;
	height              : 45px;
	line-height         : 100px;
	text-align          : center;
	border-width        : thin;
	border-top-style    : solid;
	border-bottom-style : solid;
	border-top-color    : #ccc;
	border-bottom-color : #ccc;
	margin-bottom       : 30px
}

#nav ul {
	margin-top     : 5px;
	padding-left   : 40px;
	vertical-align : middle;
	line-height    : normal
}

#nav ul li {
	display        : inline;
	width          : 100px;
	text-align     : center;
	padding-bottom : 7px
}

#nav ul li a {
	display             : inline-block;
	width               : 160px;
	text-decoration     : none;
	color               : #666;
	text-transform      : uppercase;
	s font-size         : 100%;
	letter-spacing      : .08em;
	background-image    : url(navBar.png);
	background-repeat   : no-repeat;
	background-position : 158px 0;
	margin-bottom       : 15px
}

#nav .last {
	background : none !important
}

#nav ul .last {
	background : 0
}

.navHome {
	height              : 55px;
	width               : 40px;
	display             : block;
	float               : left;
	position            : relative;
	text-indent         : -9999em;
	background-image    : url(nav.png);
	background-repeat   : no-repeat;
	background-position : 10px -15px;
	cursor              : pointer
}

#featured {
	font-family         : 'Dancing Script', cursive;
	background-color    : #f6f5f5;
	height              : 72px;
	width               : 955px;
	margin-bottom       : 40px;
	background-image    : url(arrow.png);
	background-repeat   : no-repeat;
	background-position : 0 0;
	line-height         : 65px;
	padding-left        : 45px;
	color               : #333
}

#featured2 {
	font-family         : 'Dancing Script', cursive;
	background-color    : #f6f5f5;
	background-repeat   : no-repeat;
	background-position : 0 0;
	/*line-height         : 65px;*/
	color               : #333;
	position            : relative;
}

#featured h1 {
	font-weight  : 500;
	display      : inline;
	padding-left : 5px
}

#featured2 h1 {
	font-family : 'Dancing Script', cursive;
	font-weight : 500;
	display     : inline;
}

#featured img {
	display       : inline;
	padding-top   : 10px;
	padding-right : 15px
}

#main {
	width          : 650px;
	font-family    : 'Source Sans Pro', sans-serif;
	padding-left   : 25px;
	padding-right  : 10px;
	padding-bottom : 15px;
	margin-bottom  : 30px
}

#main ol li {
	padding-top   : 5px;
	margin-left   : 20px;
	list-position : outside
}

#breadcrumbs {
	text-transform      : uppercase;
	color               : #f69;
	border-bottom-width : thin;
	border-bottom-style : solid;
	border-bottom-color : #ccc;
	line-height         : 160%;
	margin-bottom       : 10px
}

#fullWidth {
	width : 100%
}

#fullText {
	padding-left : 20px
}

#fullText p {
	font-size   : 130%;
	line-height : 130%
}

#facebook {
	width : 100%
}

#footer {
	background-color : #333;
	width            : 100%;
	font-size        : 75%;
	color            : #fff;
	text-align       : center
}

#sidebar {
	width        : 280px;
	margin-right : 20px;
	padding-top  : 25px;
	font-family  : 'Source Sans Pro', sans-serif
}

#sidebar p {
	font-size : 95%
}

#related {
	background-image  : url(title.png);
	background-repeat : no-repeat;
	margin-bottom     : 30px
}

#related img {
	padding-bottom : 10px
}

#related h3 {
	color          : #fff;
	font-family    : 'Source Sans Pro', sans-serif;
	text-transform : uppercase;
	font-size      : 22px;
	padding-left   : 10px;
	font-weight    : 400;
	padding-bottom : 20px
}

#beforeAfter {
	background-image  : url(title.png);
	background-repeat : no-repeat
}

#beforeAfter h3 {
	color          : #fff;
	font-family    : 'Source Sans Pro', sans-serif;
	text-transform : uppercase;
	font-size      : 22px;
	padding-left   : 10px;
	font-weight    : 400;
	padding-bottom : 20px
}

#beforeAfter img {
	padding-bottom : 10px;
	margin-left    : auto;
	margin-right   : auto
}

#banner-search {
	margin-top : 25px
}

input {
	float        : left;
	padding-left : 10px
}

#banner-search #navigationSearchInput {
	width      : 250px;
	height     : 30px;
	border     : 1px solid #ccc;
	font       : 12px/15px arial, sans-serif;
	color      : #666;
	background : #fff
}

#socialMedia {
	width : 340px
}

#icons {
	padding-top    : 40px;
	width          : 180px;
	height         : 50px;
	padding-bottom : 20px;
	padding-left   : 10px
}

#icons img {
	padding : 5px
}

.copyright {
	padding-top    : 15px;
	padding-bottom : 15px;
	width          : 1020px;
	margin-left    : auto;
	margin-right   : auto;
	text-align     : center;
	color          : #666
}

.pageheader {
	text-align    : center;
	font-family   : Georgia, 'Book Antiqua', Palatino, serif;
	font-size     : 17px;
	margin-top    : 15px;
	margin-bottom : 15px;
	font-style    : italic;
	line-height   : 120%
}

.small p {
	padding-left  : 5px;
	line-height   : 140% !important;
	font-size     : 105%;
	padding-right : 5px
}

hr {
	display    : block;
	height     : 1px;
	border     : 0;
	border-top : 1px dotted #ccc;
	margin     : 0;
	padding    : 0
}

.imgInline {
	float         : left;
	display       : inline;
	padding-right : 20px;
	margin-top    : 3px
}

.subjectheader {
	font-size  : 26px !important;
	text-align : center
}

.celebcaption {
	width       : 600px;
	margin      : auto;
	text-align  : center;
	line-height : 120%
}

.testdiaryp {
	float       : left;
	font-size   : 14px;
	line-height : 18px;
	margin      : 0 0 10px;
	width       : 400px
}

.pfirst {
	margin-top : 10px
}

.testdiaryimg {
	float : left;
	width : 150px
}

.day img {
	padding-left   : 10px;
	padding-bottom : 5px
}

.day {
	padding-top   : 10px;
	padding-right : 5px;
	margin-left   : 10px;
	margin-top    : 20px;
	margin-bottom : 20px
}

.day h2 {
	color          : #f39;
	text-transform : uppercase;
	padding-bottom : 5px;
	text-align     : right;
	padding-right  : 15px
}

.day-text {
	margin-left      : 14px;
	width            : 587px;
	background-color : #ccc
}

.day-text hr {
	display    : block;
	height     : 1px;
	border     : 0;
	border-top : 1px dotted #f39;
	margin     : 0;
	padding    : 0
}

.step {
	border            : thin solid #ccc;
	margin-top        : 15px;
	background-image  : url(etape1.png);
	background-repeat : no-repeat;
	padding-left      : 70px;
	height            : 250px;
	padding-top       : 20px
}

.step p, .step2 p {
	font-size : 120%
}

.step #product1 {
	padding-top   : 30px;
	padding-right : 20px
}

.step h2 {
	padding-left : 20px;
	color        : #333
}

.step2 {
	border              : thin solid #ccc;
	margin-top          : 15px;
	background-image    : url(etape2.png);
	background-repeat   : no-repeat;
	padding-left        : 70px;
	height              : 280px;
	background-position : 0 5px;
	padding-top         : 10px
}

.step2 h2 {
	padding-left : 20px;
	color        : #333
}

.step2 #product2 {
	padding-right : 20px;
	padding-left  : 10px
}

.pullleft {
	float : left
}

.pullright {
	float : right
}

.headline {
	width         : 100%;
	text-align    : center;
	margin-bottom : 40px
}

.exitheader {
	font-family   : 'Source Sans Pro', sans-serif;
	font-size     : 40px;
	margin-top    : .5em;
	margin-bottom : 30px
}

.subjectheader {
	margin-top    : 1em;
	margin-bottom : .5em
}

.subheader {
	font-size     : 30px;
	margin-top    : .5em;
	margin-bottom : .5em;
	font-family   : 'Source Sans Pro', sans-serif
}

.column1 {
	width        : 400px;
	text-align   : center;
	padding-left : 50px;
	margin-top   : 30px
}

.column2 {
	width      : 100px;
	text-align : center;
	margin-top : 130px
}

.column3 {
	width         : 400px;
	text-align    : center;
	padding-right : 50px;
	margin-top    : 30px
}

.offer {
	width        : 950px;
	margin-left  : auto;
	margin-right : auto
}

.textbox1 {
	text-align    : center;
	margin-top    : 30px;
	margin-bottom : 30px;
	font-size     : 150%;
	line-height   : 130%
}

.textbox1 p {
	text-align : center
}

.textbox2 {
	text-align  : left;
	font-size   : 120%;
	line-height : 130%
}

.textbox2 p {
	text-align : left
}